.form-item {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 10px;

    @include mobile-breakpoint(){
        grid-template-columns: 1fr;
        padding: 0px 15px;
    }

    label {
        font-weight: 400;
        flex-basis: content;
        line-height: 30px;
        &:after {
            content: ":";
            display: inline-block;
            margin: 0px 5px;
        }
    }
    input {
        height: 30px;
        font-size: 13px;
    }
}

button {
    &[type="submit"] {
        background-color: $blue;
        color: $white;
        border: none;
        padding: 6px 10px;
        border-radius: $borderRadius;
    }
}
