@import 'variables';
@import 'helper';
// Pages
@import './pages/login';
@import './pages/myalbums';
// Components
@import './components/form';
@import './components/loading';

body {
  display: flex;
  margin:0;
  font-family: 'Open Sans', sans-serif;
  padding:0;
  flex-direction: column;
}

.welcome-page{
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  a{
    color:#333;
    font-weight: bold;
  }
}