extends components/layout.pug

block content
  .container.welcome-page
    h1 Zingat Front-End Challenge
    p Proje'yi geliştiren
        a(href="https://alicankahramaner.github.io")  Alican Kahramnaer
    p Projeyi incelemek için.
    a(href="/login") Giriş Yap.
      
