extends components/layout.pug

block content
  .container#myalbums
    h1 My Albums And Photos
    .row
      .col-md-4
        nav#albumList.albumList
          
      .col-md-8#albumImages
      #previewAlbumImage.col-md-12
      
